{% extends 'base.html.twig' %}

{% block title %}Ajout Modif Défilé{% endblock %}
{% block stylesheets %}  
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

  {% endblock %}

{% block body %}
<h1 class="pt-2 text-center">
{% if (app.request.attributes.get('_route')=="defile_ajout") %}
Ajout
{% else %}
Modification
{% endif %}
d'un Albums</h1>

{{form_start(formAlbum,{'attr':{'novalidate':'novalidate'}})}}
<div class="row">
    <div class="col">{{form_row(formAlbum.NomD)}}</div>
    <div class="col">{{form_row(formAlbum.Date)}}</div>
</div>
<div class="row">
    <div class="col">{{form_row(formAlbum.marque)}}</div>
    <div class="col">{{form_row(formAlbum.blogs)}}</div>
    <div class="col">{{form_row(formAlbum.mannequin)}}</div>
    <div class="col">{{form_row(formAlbum.Thème)}}</div>
    <div class="col">{{form_row(formAlbum.description)}}</div>
</div>

<div class="row">
    <div class="col"><a href=" {{path('admin_defiles')}}" class="btn btn-dark btn-block">Annuler</a></div>
    <div class="col"><input type="submit", class="btn btn-dark btn-block" value=
    {% if (app.request.attributes.get('_route')=="defile_ajout") %}
"Ajouter le defile"
{% else %}
"Modifier le defile"
{% endif %}></div>
</div>
{{form_end(formDefile)}}
{% endblock %}
{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
$(document).ready(function() {
    $('selectStyles').select2();
});</script>
{% endblock %}
