{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/defile-modification.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <style>
        /* Ajouter du style pour fixer le bouton Annuler en bas */
        .cancel-button-container {
            position: fixed;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 999;
            width: 80%;  /* Vous pouvez ajuster la largeur selon vos préférences */
        }

        .btn-secondary {
            width: 100%;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block body %}
<div class="container py-4">
    <h1 class="text-center mb-4">
        {% if app.request.attributes.get('_route') == 'admin_defile_ajout' %}
            Ajout
        {% else %}
            Modification
        {% endif %}
        d'un Défilé
    </h1>

    {{ form_start(formDefile, {'attr': {'novalidate': 'novalidate'}}) }}

    <div class="row mb-3">
        <div class="col-md-6">
            {{ form_row(formDefile.NomD) }}
        </div>
        <div class="col-md-6">
            {{ form_row(formDefile.Date) }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12">
            {{ form_row(formDefile.marque) }}
        </div>
    </div>

    <div class="row mb-3">
        {% if formDefile.blogs is not empty %}
            <div class="col-md-6">
                <h4>Blogs associés :</h4>
                <ul class="list-group">
                    {% for blog in formDefile.blogs %}
                        <li class="list-group-item">{{ blog.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if formDefile.mannequin is not empty %}
            <div class="col-md-6">
                <h4>Mannequins associés :</h4>
                <ul class="list-group">
                    {% for mannequin in formDefile.mannequin %}
                        <li class="list-group-item">{{ mannequin.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            {{ form_row(formDefile.theme) }}
        </div>
        <div class="col-md-6">
            {{ form_row(formDefile.description) }}
        </div>
    </div>

    {{ form_end(formDefile) }}
</div>



<div class="cancel-button-container">
    <a href="{{ path('admin_defiles') }}" class="btn btn-secondary btn-block">Annuler</a>
</div>

{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        $('select').select2();  
    });
</script>
{% endblock %}
