{% extends 'base.html.twig' %}

{% block title %}Ajout Modif Défilé{% endblock %}
{% block stylesheets %}  
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

  {% endblock %}

{% block body %}
<h1 class="pt-2 text-center">
{% if (app.request.attributes.get('_route')=="admin_defile_ajout") %}
Ajout
{% else %}
Modification
{% endif %}
d'un Albums</h1>

{{form_start(formDefile,{'attr':{'novalidate':'novalidate'}})}}
<div class="row">
    <div class="col">{{form_row(formDefile.NomD)}}</div>
    <div class="col">{{form_row(formDefile.Date)}}</div>
</div>
<div class="row">
    <div class="col">{{form_row(formDefile.marque)}}</div>
</div>
<div class="row">
    {% if formDefile.blogs is not empty %}
        <div class="col">
            <h4>Blogs associés : </h4>
            <ul>
                {% for blog in formDefile.blogs %}
                    <li>{{ blog.name }}</li> 
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    
    {% if formDefile.mannequin is not empty %}
        <div class="col">
            <h4>Mannequins associés :</h4>
            <ul>
                {% for mannequin in formDefile.mannequin %}
                    <li>{{ mannequin.name }}</li> 
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
    <div class="col">{{form_row(formDefile.theme)}}</div>
    <div class="col">{{form_row(formDefile.description)}}</div>
</div>

<div class="row">
    <div class="col"><a href=" {{path('admin_defiles')}}" class="btn btn-dark btn-block">Annuler</a></div>
    <div class="col"><input type="submit", class="btn btn-dark btn-block" value=
    {% if (app.request.attributes.get('_route')=="admin_defile_ajout") %}
"Ajouter l'album"
{% else %}
"Modifier l'album"
{% endif %}></div>
</div>
{{form_end(formDefile)}}
{% endblock %}
{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
$(document).ready(function() {
    $('selectStyles').select2();
});</script>
{% endblock %}
