{% extends 'base.html.twig' %}

{% block title %}Gestion Defiles{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">Gestion des Defiles</h1>
<a href=" {{path('admin_defiles')}}" class="btn btn-dark">Ajouter un defile</a>

<hr> 
<table class="table table-hover">
<thead>
    <tr>
      <th scope="col-1"></th>
      <th scope="col-3">Marque</th>
      <th scope="col-1">Nom</th>
      <th scope="col-2">Date</th>
      <th scope="col-1">Thème</th>
      <th scope="col-2">Description</th>
    </tr>
</thead>  
    <tbody>
        {% for ledefile in lesDefiles %}
            <tr>
            <td class="col-3">{{ledefile.marque.id}}</td>
            <td class="col-1">{{ledefile.NomD}}</td>
            <td class="col-1">{{ledefile.Date|date("Y/m/d")}}</td>
            <td class="col-1">{{ledefile.Thème}}</td>
            <td class="col-1">{{ledefile.Description}}</td>
            <td class="col-1">
            {# {% for leStyle in ledefile.styles %} 
            <span class="badge bg-dark" style="background-color: {{leStyle.couleur}};"> {{leStyle.nom}}</span>
            {# {% endfor %} 
            </td>
            <td class="col-2">
            <span class="align-self-center badge bg-dark"> {{nbMorceaux}} {% if nbMorceaux > 1 %} morceaux {% else %} morceau {% endif %}</span>
            {# </td> #}
            <td class="col-2">
                <a href=" {{path('admin_defile_modif', {'id': ledefile.id })}}" class="btn btn-dark"><i class="fas fa-pen"></i></a>
                <a class="btn btn-dark"
                data-bs-toggle="modal" 
                data-bs-target="#modalSimple"
                data-titre="Suppression d'un defile"
                data-message="Etes vous sur de vouloir supprimer l'defile : {{ledefile.NomD}}"
                data-libelleBouton="Supprimer l'defile"
                data-lien="{{path('admin_defile_suppression', {'id': ledefile.id}) }}">
                <i class="far fa-trash-alt"></i></a>
            </td>
            </tr>
            {% endfor %}
    </tbody>
</table>
<div class="navigation mx-auto">
		{{ knp_pagination_render(lesDefiles) }}
	</div>
</div>
{% endblock %}
{% block javascript %}
    {% include "include/_modale.html.twig" %}
{% endblock %}