{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/marque-modification.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% extends 'base.html.twig' %}

{% block body %}
<h1 class="pt-2 text-center">
    {% if (app.request.attributes.get('_route') == "admin_marques_ajout") %}
        Ajout
    {% else %}
        Modification
    {% endif %}
    d'une marque
</h1>

{{ form_start(formMarque, {'attr': {'novalidate': 'novalidate'}}) }}

<div class="row">
    <div class="col">{{ form_row(formMarque.nomM) }}</div>
    <div class="col">{{ form_row(formMarque.CreateurM) }}</div>
</div>

<div class="row">
    <div class="col">{{ form_row(formMarque.HistoireM) }}</div>
</div>

<div class="row">
    {% if formMarque.defiles is not empty %}
        <div class="col">
            <h4>Défilés associés :</h4>
            <ul>
                {% for defiles in formMarque.defiles %}
                    <li>
                        {{ form_row(defiles.NomD) }}  
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>

<div class="form-group">
    {{ form_label(formMarque.image, 'Image') }}
    {{ form_widget(formMarque.image, {'attr': {'placeholder': 'Image de la marque'}}) }}
</div>

<div class="row">
    <div class="col">{{ form_row(formMarque.RepresentantM) }}</div>
</div>

<div class="form-group">
    <button type="submit" class="btn btn-dark btn-block">
        {% if app.request.attributes.get('_route') == 'admin_marques_ajout' %}
            Ajouter la marque
        {% else %}
            Enregistrer les modifications
        {% endif %}
    </button>
</div>

{{ form_end(formMarque) }}

<div class="cancel-button-container">
    <a href="{{ path('admin_marques') }}" class="btn btn-secondary btn-block">Annuler</a>
</div>

{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
$(document).ready(function() {
    $('select').select2();
});
</script>
{% endblock %}
