{% extends 'base.html.twig' %}

{% block title %}Ajout/modif Blog{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">
{% if (app.request.attributes.get('_route')=="blog_ajout") %}
Ajout
{% else %}
Modification
{% endif %}
d'un blog</h1>
{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ form.vars.value.id ? 'Modifier' : 'Ajouter' }} un article</h1>
    {{ form_start(formBlog) }}
        {{ form_row(formBlog.NomArticle) }}
        {{ form_row(formBlog.Contenu) }}
        {{ form_row(formBlog.Date) }}
        {{ form_row(formBlog.image) }}
        <button type="submit">Enregistrer</button>
    {{ form_end(formBlog) }}
{% endblock %}


<div class="row">
    <div class="col"><a href=" {{path('admin_blog')}}" class="btn btn-dark btn-block">Annuler</a></div>
    <div class="col"><input type="submit", class="btn btn-dark btn-block" value=
    {% if (app.request.attributes.get('_route')=="blog_ajout") %}
"Ajouter le Blog"
{% else %}
"Modifier le Blog"
{% endif %}></div>
</div>
{{form_end(BlogType)}}
{% endblock %}



