{% extends 'base.html.twig' %}

{% block title %}Ajout/modif Blog{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">
{% if (app.request.attributes.get('_route')=="blog_ajout") %}
Ajout
{% else %}
Modification
{% endif %}
d'un blog</h1>

{{form_start(ArticleType)}}
<div class="row">
    <div class="col-3">{{form_row(ArticleType.NomArticle)}}</div>
    <div class="col-2">{{form_row(ArticleType.Contenu)}}</div>
    <div class="col-2">{{form_row(ArticleType.image)}}</div>
    <div class="col-2">{{form_row(ArticleType.Date)}}</div>
    {# <div class="col-2">{{form_row(formBlog.)}}</div> #}
</div>

<div class="row">
    <div class="col"><a href=" {{path('admin_blog')}}" class="btn btn-dark btn-block">Annuler</a></div>
    <div class="col"><input type="submit", class="btn btn-dark btn-block" value=
    {% if (app.request.attributes.get('_route')=="blog_ajout") %}
"Ajouter le Blog"
{% else %}
"Modifier le Blog"
{% endif %}></div>
</div>
{{form_end(ArticleType)}}
{% endblock %}



