{% extends 'base.html.twig' %}

{% block title %}Gestion blog{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">Gestion des blogs</h1>
<a href=" {{path('blog_ajout')}}" class="btn btn-dark">Ajouter un article</a>

<hr> 
<table class="table table-hover">
<thead>
    <tr>
      <th scope="col-1">Defile</th>
      <th scope="col-3">Nom de l'article</th>
      <th scope="col-1">contenu</th>
      <th scope="col-1">date</th>
       <th scope="col-1">image</th>
    
    </tr>
</thead>  
    <tbody>
        {% for leblog in lesblogs %}
            <tr>
            <td class="col-3">{{leblog.id}}</td>
            <td class="col-1">{{leblog.defile.id}}</td>
            <td class="col-1">{{leblog.nomArticle}}</td>
            <td class="col-1">{{leblog.contenu}}</td>
            <td class="col-1">{{leblog.Date|date("Y/m/d")}}</td>
            <td class="col-1">{{leblog.image}}</td>
            <td class="col-1">
            {# {% for leStyle in ledefile.styles %} 
            <span class="badge bg-dark" style="background-color: {{leStyle.couleur}};"> {{leStyle.nom}}</span>
            {# {% endfor %} 
            </td>
            <td class="col-2">
            <span class="align-self-center badge bg-dark"> {{nbMorceaux}} {% if nbMorceaux > 1 %} morceaux {% else %} morceau {% endif %}</span>
            {# </td> #}
            {# <td class="col-2">
                <a href=" {{path('admin_mannequins_modif', {'id': lemannequin.id })}}" class="btn btn-dark"><i class="fas fa-pen"></i></a>
                <a class="btn btn-dark"
                data-bs-toggle="modal" 
                data-bs-target="#modalSimple"
                data-titre="Suppression d'un mannequin"
                data-message="Etes vous sur de vouloir supprimer l'mannequin : {{lemannequin.Nom}}"
                data-libelleBouton="Supprimer l'mannequin"
                data-lien="{{path('admin_mannequins_suppression', {'id': lemannequin.id}) }}">
                <i class="far fa-trash-alt"></i></a>
            </td> #}
            </tr>
            {% endfor %}
    </tbody>
</table>
<div class="navigation mx-auto">
		{{ knp_pagination_render(lesblogs) }}
	</div>
</div>
{% endblock %}
{% block javascript %}
    {% include "include/_modale.html.twig" %}
{% endblock %}