{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/Blog.css') }}">
{% endblock %}

{% extends 'base.html.twig' %}

{% block title %}Gestion blog{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">Gestion des blogs</h1>
<a href=" {{ path('blog_ajout') }}" class="btn btn-dark">Ajouter un article</a>

<hr>
        {% for leblog in lesblogs %}
            <tr>
                <td class="col-3">{{ leblog.id }}</td>
                <td class="col-3">{{ leblog.nomArticle }}</td>
                <td class="col-3">{{ leblog.contenu }}</td>
                <td class="col-1">{{ leblog.Date|date("Y/m/d") }}</td>
                <td class="col-1">{{ leblog.image }}</td>
                <td class="col-1">
                    <span class="badge bg-dark"> 
                        {% if leblog.styles is not empty %}
                            {% for leStyle in leblog.styles %}
                                <span class="badge" style="background-color: {{ leStyle.couleur }};"> {{ leStyle.nom }}</span>
                            {% endfor %}
                        {% else %}
                            Aucun style
                        {% endif %}
                    </span>
                </td>
                <td class="col-2">
                    <span class="badge bg-dark">{{ leblog.morceaux|length }} 
                    {% if leblog.morceaux|length > 1 %} morceaux {% else %} morceau {% endif %}
                    </span>
                </td>
                <td class="col-2">
                    <a href="{{ path('blog_modif', {'id': leblog.id}) }}" class="btn btn-dark"><i class="fas fa-pen"></i></a>
                    <a class="btn btn-dark"
                       data-bs-toggle="modal" 
                       data-bs-target="#modalSimple"
                       data-titre="Suppression de l'article"
                       data-message="Êtes-vous sûr de vouloir supprimer l'article : {{ leblog.nomArticle }}"
                       data-libelleBouton="Supprimer l'article"
                       data-lien="{{ path('blog_suppression', {'id': leblog.id}) }}">
                        <i class="far fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="navigation mx-auto">
    {{ knp_pagination_render(lesblogs) }}
</div>

{% endblock %}

{% block javascript %}
    {% include "include/_modale.html.twig" %}
{% endblock %}
