{% extends 'base.html.twig' %}

{% block title %}Fiche Mannequins{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">Fiche du Mannequin</h1>
<hr>
<div class="row pt-2">
    <div class="card mb-3">
        <h3 class="card-header">{{leMannequin.nom}}</h3>
        <div class="row">        
            <div class="col-3 d-flex align-items-center mx-auto">
                <img class="avatar mx-auto d-block" style="height: auto; width: 200px; display: block;" src=" {{leMannequin.image}}" alt="Card image">
            </div>
            <div class="col"><div class="card-body">
        </div>

        <div class="card-body">
            <p class="card-text">{{leMannequin.description|raw}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"> {% if leMannequin.type == 0 %} Artiste solo {% else %} Groupe {% endif %}</li>
            <li class="list-group-item"> <a href ="{{ leMannequin.site}}">Site Web</a></li>
        </ul>
    </div>
</div>
<table class="table table-hover mx-auto">
  <thead>
  <tbody>
    <tr class="table-active">
      <th scope="col-3">Photo</th>
      <th scope="col-5">Nom</th>
      <th scope="col-1">Date</th>
      <th scope="col-3">Styles</th>
      <th scope="col-1">Morceaux</th>
    </tr>
     </tbody>
     {# {% for leAlbum in leArtiste.albums %}
    <tr>
        <td><img class="miniature" src="{{leAlbum.image}}" alt=""></td>
        <td scope="row"> <a href=" {{path('ficheAlbum',{'id': leAlbum.id})}}">{{leAlbum.nom}}</a></td>
        <td>{{leAlbum.date}}</td>
        <td>
        {% for leStyle in leAlbum.styles %}
        <span class="badge" style="background-color: {{leStyle.couleur}};"> {{leStyle.nom}} </span>
        {% endfor %}
        </td>
        <td>{{leAlbum.morceaux|length}}</td>
    </tr>
     {% endfor %}
</table>
   
  </tbody>
</table> #}


{% endblock %}
