{% extends 'base.html.twig' %}

{% block title %}Liste des Mannequins{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">Liste des Mannequins</h1>
<hr>
<div class="row pt-2">
    {% for leMannequin in lesMannequins %}
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="card mb-3">
            <h3 class="card-header"> 
                <a href="{{ path('ficheMannequin', {'id': leMannequin.id}) }}">{{ leMannequin.nom }}</a>
            </h3>
            <div class="card-body">
                <h5 class="card-title">
                    <!-- Placeholder for additional content -->
                </h5>
            </div>
            <div class="card-body">
                <p class="card-text">{{ leMannequin.biographie|slice(0,200)|raw }}...</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {% if leMannequin.type == 0 %}
                        Artiste solo
                    {% else %}
                        Groupe
                    {% endif %}
                </li>
                <li class="list-group-item"> 
                    <a href="{{ leMannequin.site }}">Site Web</a>
                </li>
                <li class="list-group-item">
                    <strong>Défilés associés :</strong>
                    <ul>
                        {% for defile in leMannequin.defiles %}
                            <li>{{ defile.nom }}</li>
                        {% else %}
                            <li>Aucun défilé associé</li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    {% endfor %}
</div>

<div class="navigation mx-auto">
    {{ knp_pagination_render(lesMannequins) }}
</div>
{% endblock %}
