{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/mannequin-modification.css') }}">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}
 {% extends 'base.html.twig' %} 

{% block title %}Modification du Mannequin{% endblock %}

{% block body %}

<div class="container">
    <h1>Modification d'un Mannequin</h1>
    {{ form_start(formMannequin, {'attr': {'novalidate': 'novalidate'}}) }}

    <div class="form-group">
        {{ form_label(formMannequin.Nom, 'Nom') }}
        {{ form_widget(formMannequin.Nom, {'attr': {'placeholder': 'Nom du mannequin'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(formMannequin.Prenom, 'Prénom') }}
        {{ form_widget(formMannequin.Prenom, {'attr': {'placeholder': 'Prénom du mannequin'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(formMannequin.Nationalite, 'Nationalité') }}
        {{ form_widget(formMannequin.Nationalite, {'attr': {'placeholder': 'Nationalité du mannequin'}}) }}
    </div>

    <div class="form-group">
    {{ form_label(formMannequin.biographieM, 'Biographie') }}
    {{ form_widget(formMannequin.biographieM, {
        'attr': {
            'placeholder': 'Courte biographie...',
            'class': 'form-control',
            'style': 'height: 200px;'
        }
    }) }}
</div>

    <div class="form-group">
        <h4>Défilés associés :</h4>
        <ul>
            {% for defile in formMannequin.defiles %}
                <li>{{ defile.nom }}</li>
            {% else %}
                <li>Aucuns défilés associés.</li>
            {% endfor %}
        </ul>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-dark btn-block">
            Enregistrer les modifications
        </button>
        <a href="{{ path('admin_mannequins') }}" class="btn btn-dark btn-block">Annuler</a>
    </div>

    {{ form_end(formMannequin) }}
</div>
{% endblock %}
