{% extends 'base.html.twig' %}

{% block title %}Gestion mannequin{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">Gestion des mannequins</h1>
{# <a href=" {{path('admin_mannequin')}}" class="btn btn-dark">Ajouter un defile</a> #}

<hr> 
<table class="table table-hover">
<thead>
    <tr>
      <th scope="col-1">Nom</th>
      <th scope="col-3">Prenom</th>
      <th scope="col-1">Nationalité</th>
      <th scope="col-1">Biographie</th>
    
    </tr>
</thead>  
    <tbody>
        {% for lemannequin in lesmannequins %}
            <tr>

            <td class="col-1">{{lemannequin.Nom}}</td>
            <td class="col-1">{{lemannequin.Prenom}}</td>
            <td class="col-1">{{lemannequin.Nationalite}}</td>
             <td class="col-1">{{lemannequin.biographieM}}</td>
            <td class="col-1">
            {# <a href="{{ path('admin_mannequin_modif', {'id': lemannequin.id}) }}" class="btn btn-dark"> #}
                        {# <i class="fas fa-pen"></i> #}
                    </a>
            <td class="col-1">
    {# <img class="avatar mx-auto d-block" src="{{ lemannequin.imageMannequins }}" alt="Image du mannequin" width="50"></td>                 #}
                    <a class="btn btn-dark"
                       data-bs-toggle="modal" 
                       data-bs-target="#modalSimple"
                       data-titre="Suppression d'un mannequin"
                       data-message="Etes-vous sûr de vouloir supprimer le mannequin : {{ lemannequin.Nom }} ?"
                       data-libelleBouton="Supprimer le mannequin"
                       {# data-lien="{{ path('admin_mannequins_suppression', {'id': lemannequin.id}) }}"> #}
                       {# <i class="far fa-trash-alt"></i> #}
                    {# </a> #}
                {# </td>  #}
            </tr>
            {% endfor %}
    </tbody>
</table>
<div class="navigation mx-auto">
		{{ knp_pagination_render(lesmannequins) }}
	</div>
</div>
{% endblock %}
{% block javascript %}
    {% include "include/_modale.html.twig" %}
{% endblock %}