{% extends 'base.html.twig' %}

{% block title %}Gestion mannequin{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">Gestion des mannequins</h1>
<a href=" {{path('admin_mannequin')}}" class="btn btn-dark">Ajouter un defile</a>

<hr> 
<table class="table table-hover">
<thead>
    <tr>
      <th scope="col-1">Nom</th>
      <th scope="col-3">Prenom</th>
      <th scope="col-1">Nationalité</th>
      <th scope="col-2">Défilés</th>
      <th scope="col-1">Biographie</th>
    
    </tr>
</thead>  
    <tbody>
        {% for ledefile in lesDefiles %}
            <tr>
            <td class="col-3">{{ledefile.id}}</td>
            <td class="col-1">{{ledefile.Nom}}</td>
            <td class="col-1">{{ledefile.Prenom}}</td>
            <td class="col-1">{{ledefile.Nationalite}}</td>
            <td class="col-1">{{ledefile.defiles}}</td>
             <td class="col-1">{{ledefile.biographieM}}</td>
            <td class="col-1">
            {# {% for leStyle in ledefile.styles %} 
            <span class="badge bg-dark" style="background-color: {{leStyle.couleur}};"> {{leStyle.nom}}</span>
            {# {% endfor %} 
            </td>
            <td class="col-2">
            <span class="align-self-center badge bg-dark"> {{nbMorceaux}} {% if nbMorceaux > 1 %} morceaux {% else %} morceau {% endif %}</span>
            {# </td> #}
            <td class="col-2">
                <a href=" {{path('admin_defile_modif', {'id': lemannequin.id })}}" class="btn btn-dark"><i class="fas fa-pen"></i></a>
                <a class="btn btn-dark"
                data-bs-toggle="modal" 
                data-bs-target="#modalSimple"
                data-titre="Suppression d'un mannequin"
                data-message="Etes vous sur de vouloir supprimer l'mannequin : {{lemannequin.NomD}}"
                data-libelleBouton="Supprimer l'mannequin"
                data-lien="{{path('admin_mannequin_suppression', {'id': lemannequin.id}) }}">
                <i class="far fa-trash-alt"></i></a>
            </td>
            </tr>
            {% endfor %}
    </tbody>
</table>
<div class="navigation mx-auto">
		{{ knp_pagination_render(lesMannequins) }}
	</div>
</div>
{% endblock %}
{% block javascript %}
    {% include "include/_modale.html.twig" %}
{% endblock %}